<form action="/cats" method="POST">
  <label>Name:
    <input type="text" name="cat[name]" value="<%= @cat.name %>">
  </label>
  <br/>
  <label>Owner
    <select name="cat[owner_id]">
      <% @humans.each do |human| %>
        <option value='<%= human.id %>'><%= human.name %></option>
      <% end %>
    </select>
  </label>
  <br/>
  <input type="submit">
</form>
